.list-item{
    color:chocolate;
    font-size: 25px;
}
.post-h{
    background-color: lightsteelblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-style: italic;
}
.post-p{
    background-color: #000;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;

}
.country {
    background-color: whitesmoke;
    color: rgb(115, 60, 216);
    padding: 10px;
    margin: 10px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}
.country p span{
    color: black
}
.